[Unit]
Description=Fortune Site

[Service]
ExecStart=/home/ec2-user/FortuneSite/server.js
Restart=always
User=ec2-user
Group=ec2-user
Environment=PATH=/usr/bin:/usr/local/bin
Environment=NODE_ENV=production
WorkingDirectory=/home/ec2-user/FortuneSite/

[Install]
WantedBy=multi-user.target